<html>
<head>
    <title>Video module</title>
</head>
<body>
<div id="container">
    <canvas id="canvasOutput"></canvas>
    <video autoplay="true" id="videoElement"></video>
</div>

<div class='video'>
    <img id="image">
</div>
<div class='video2'>
    <img id="image2">
</div>
{% load static %}
<script src="{% static '/opencv.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"
        integrity="sha256-WKvqiY0jZHWQZIohYEmr9KUC5rEaYEOFTq+ByllJK8w="
        crossorigin="Access-Control-Allow-Origin: *"></script>
<script>
    function ws_connect() {
        // create new connection to the ws server
        socket = new WebSocket("ws://" + window.location.host + "/ws/image");
        socket.onopen = function () {
            console.log("Connected...!", socket.connected)
        };
        socket.onmessage = function (image) {
            console.log(image)
            const image_id = document.getElementById('image');
            image_id.src = image.data;
        };
        socket.onclose = function (e) {
            console.error("Socket close: ", e.message);
        };
        socket.onerror = function (err) {
            console.error("Socket encountered error: ", err.message, "Closing socket");
            socket.close();
        };
    }

    ws_connect();


    const video = document.querySelector("#videoElement");
    video.width = 500;
    video.height = 375;
    ;

    if (navigator.mediaDevices.getUserMedia) {
        navigator.mediaDevices.getUserMedia({video: true})
            .then(function (stream) {
                video.srcObject = stream;
                video.play();
            })
            .catch(function (err0r) {
                console.log(err0r)
                console.log("Something went wrong!");
            });
    }

    let src = new cv.Mat(video.height, video.width, cv.CV_8UC4);
    let dst = new cv.Mat(video.height, video.width, cv.CV_8UC1);
    let cap = new cv.VideoCapture(video);

    const FPS = 22;

    setInterval(() => {
        cap.read(src);

        var type = "image/png"
        const image_id2 = document.getElementById('image2');
        image_id2.src = document.getElementById("canvasOutput").toDataURL;
        var data = document.getElementById("canvasOutput").toDataURL(type);
        data = data.replace('data:' + type + ';base64,', '');

        console.log(data);
        socket.send(data);
    }, 10000 / FPS);


</script>

</body>
</html>